.entry {
  display: block;
  float: left;
  margin: 5px;
  padding: 10px;
  border: 1px solid;
  font-size: 20pt;
  font-family: sans-serif;
  border-radius: 3px;
}
.name {
  color: #000;
}
.freq {
  font-weight: bold;
}
