/* theme based on set of InkJoy colored pens and a little notbook */
/* Created by Tim Caswell <tim@creationix.com> */

.cm-s-notebook-dark.CodeMirror {
  background-color:#1f1d1b; /* line */
  color:#fefcee;            /* paper */
  font-family: Menlo, Vera Sans Mono, Ubuntu Mono, Consolas, Monaco, monospace;
}
.cm-s-notebook-dark .CodeMirror-gutters {background: #312f2b;border-right:none;}
.cm-s-notebook-dark .CodeMirror-linenumber {color: #8a8479;}


div.cm-s-notebook-dark span.CodeMirror-matchingbracket {
  color: #c80b12;
  font-weight: bold;
}
.cm-s-notebook-dark .CodeMirror-ruler {
  border-color: #7B0004;
}
.cm-s-notebook-dark div.CodeMirror-cursor {
  border-color: #c80b12;
  border-width: 2px;
}

.cm-s-notebook-dark .CodeMirror-activeline-background,
.cm-s-notebook-dark .CodeMirror-selected {background: #292725}
.cm-s-notebook-dark.CodeMirror-focused .CodeMirror-selected {background: #453d36}

/* dark-blue - symbols */
.cm-s-notebook-dark .cm-property {color: #6967f5}

/* light-blue - library variables */
.cm-s-notebook-dark .cm-qualifier,
.cm-s-notebook-dark .cm-variable {color: #16b05b}

/* dark-green - user variables */
.cm-s-notebook-dark .cm-def,
.cm-s-notebook-dark .cm-variable-2,
.cm-s-notebook-dark .cm-variable-3 {color:#029dba}

/* light-green */
.cm-s-notebook-dark .cm-builtin,
.cm-s-notebook-dark .cm-tag,
.cm-s-notebook-dark .cm-keyword {color:#6ac21d}

/* red */
.cm-s-notebook-dark .cm-operator {color:#f61941}

/* orange */
.cm-s-notebook-dark .cm-string {color:#e05909}
.cm-s-notebook-dark .cm-string-2 {color:#F0A713}

/* pink */
.cm-s-notebook-dark .cm-number {color:#ea1b8d}

/* purple */
.cm-s-notebook-dark .cm-atom {color:#9625cf}

/* brown */
.cm-s-notebook-dark .cm-comment {color:#97694C}
