header {
  margin: 0 0 98px 0;
}

  header h1 {
    float: left; font-size: 36px;
    font-weight: normal;
  }

  header nav {
    float: right; text-align: right;
    padding: 6px 0 0 0;
  }
    header nav ul {
      list-style: none;
    }
      header nav li {
        float: left; font-size: 18px;
        width: 136px; margin: 0 0 0 20px;
      }

      header nav li:nth-child(1):before {
        content: "1. ";
        color: #a2a2a2;
      }
      header nav li:nth-child(2):before {
        content: "2. ";
        color: #a2a2a2;
      }
      header nav li:nth-child(3):before {
        content: "3. ";
        color: #a2a2a2;
      }
      header nav li:nth-child(4):before {
        content: "4. ";
        color: #a2a2a2;
      }
      header nav li:nth-child(5):before {
        content: "5. ";
        color: #a2a2a2;
      }

#content {
  float: left; width: 526px;
  margin: 0 98px 0 0;
}

  #content article {
    margin: 0 0 67px 0;
  }
    #content article h2 {
      font-size: 30px; margin: 0 0 29px 0;
      font-weight: normal;
    }

    #content p {
      margin: 0 0 24px 0;
    }

    #content .postinfo {
      list-style: none; overflow: hidden;
    }
      #content .postinfo li {
        float: left; width: 136px; margin: 0 20px 0 0;
        font-style: italic; color: #a2a2a2;
      }

#pagination {
  overflow: hidden; margin: 0 0 120px 0;
}
  #pagination ul {
    list-style: none;
  }
    #pagination li {
      font-size: 18px;
    }
      #pagination li.older {
        float: left;
      }
      #pagination li.newer {
        float: right;
      }

#sidebar {
  width: 292px; float: left;
  padding: 4px 0 0 0;
}
  #sidebar h3 {
    font-size: 18px; font-weight: normal;
    margin: 0 0 25px 0;
  }

  #sidebar ul {
    list-style: none;
  }

  #sidebar section {
    margin: 0 0 47px 0;
  }

  #sidebar #about a.more {
    display: block; text-align: right;
  }

  #sidebar #categories {
    width: 136px; float: left;
    margin: 0 20px 0 0;
  }

  #sidebar #social {
    width: 136px; float: left;
  }


#sidebar #search #searchbar {
  width: 230px; height: 36px; float: left;
  border: 1px solid #c7c7c7; padding: 0 45px 0 15px; margin: -8px 0 0 0;
  background: #e2e2e2; /* Old browsers */
  background: -moz-linear-gradient(top, #e2e2e2 0%, #ffffff 16%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #e2e2e2 0%,#ffffff 16%); /* Chrome10+,Safari5.1+ */

  font-size: 14px; font-style: italic; color: #a2a2a2;
}
  #sidebar #search #searchsubmit {
    width: 17px; height: 17px; float: right; margin: -27px 15px 0 0;
    background: url(images/search-icon.png); text-indent: -9999px;
  }


#footer-container {
  background: rgba(0,0,0,0.2);
  overflow: hidden;
}
  footer {
    width: 916px; margin: 0 auto; padding: 10px 22px 50px 22px;
  }
  footer #credits {
    list-style: none; float: left;
    }
    footer #credits li {
      float: left; margin: 0 6px 0 0;
    }
      footer #credits li.wordpress a {
        display: block; width: 20px; height: 20px;
        background: url(images/credits.png) no-repeat 0 0; text-indent: -9999px;
      }
      footer #credits li.spoongraphics a {
        display: block; width: 25px; height: 20px;
        background: url(images/credits.png) no-repeat -30px 0; text-indent: -9999px;
      }

    footer #back-top {
      float: right; font-size: 12px;
    }
