@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:400,700);

* { box-sizing: border-box }
body {
  margin: 0;
  font-size: 18px;
  line-height: 1.6em;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5 {
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
}
pre.cm-s-notebook {
  font-size: 16px;
  line-height: 1.5em;
  white-space: pre-wrap;
  padding: 10px 24px;
  margin-left: -24px;
  margin-right: -24px;
  border-top: 1px solid #E2D475;
  border-bottom: 1px solid #E2D475;
}
.page-header, footer {
  text-align: center;
}
.page-header {
  background-color: #0594BD;
  color: #fff;
}
.page-header p {
  color: #fff;
  text-shadow: 3pt 3pt 6pt rgba(0,0,0,.3);
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.2em;
  margin: 0;
}
.body h1, .body h2 {
  font-family: Ubuntu, sans-serif;
  /*font-weight: 700;*/
}
.body a {
  color: #02556C;
}
.body a:hover, .body a:active {
  color: #FFB300;
}
.body h1 {
  color: #FF2300;
}
.body h2 {
  color: #036C8A;
  border-bottom: 1px solid #AD1800;
}

.body h1 a {
  text-decoration: none;
  color: inherit;
}

.body h1 { font-size: 2em; }
.body h2 {
  font-size: 1.5em;
}
footer {
  background-color: #ff6d56;
  color: #ad1800;
}
body {
  background-color: #02556C;
}
img {
  width: 100%;
}
.body {
  overflow: hidden;
}
.body .wrapper {
  background-color: #f8f8f8;
  color: #333;
  box-shadow: 0 0 1em rgba(0,0,0,0.5);
}
.body img {
  width: 100%;
}
.wrapper {
  padding: 24px;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
