* {
  box-sizing: border-box;
}
/* http://paletton.com/#uid=33o0u0kCZF4l9IQr2F+FxrNHZlJ */
html {
  height: 100%;
}
body {
  margin: 35pt 0 0 0;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  font-size: 12pt;
  line-height: 1.5em;
}
#github-ribbon {
  position: fixed;
  top: 2.5em;
  right: -3.9em;
  transform: rotate(45deg);
  color: #000;
  display: block;
  padding: .3em 3.5em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  background-color: #ffbf28;
  font-size: 9pt;
  border-top: 1px dotted #ad7900;
  border-bottom: 1px dotted #ad7900;
}
@media (min-width: 600px) {
  .row .third {
    width: 33.333%;
    float: left;
    overflow: auto;
    zoom: 1;
  }
}
@media (max-width: 450px) {
  #github-ribbon {
    display: none;
  }
}
.row {
  max-width: 860px;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  zoom: 1;
}
.row .third {
  padding: 0 30px;
}
.row .third h2 {
  text-align: center;
}
.row .third ul {
  padding-left: 20px;
}
.row .single {
  clear: both;
  padding: 0 30px;
  margin: 0 auto;
}
.row .single img {
  max-width: 100%;
}
hr {
  height: 0;
  border: 0;
  margin: 10px 30px;
  border-bottom: 1px solid #ccc;
}
p a,
ul a {
  color: #239dc0;
  text-decoration: none;
}
p a:hover,
ul a:hover,
p a:active,
ul a:active,
p a:focus,
ul a:focus {
  color: #ff4528;
}
p code,
ul code {
  background-color: #f4f4f4;
  font-size: 11pt;
  border-radius: 3px;
  padding: 2px;
}
.article-nav {
  background-color: #02546c;
  color: #fff;
}
.article-nav code {
  background-color: #036c8a;
}
.info {
  font-size: 10pt;
  color: #999;
  float: right;
  text-align: center;
  overflow: auto;
  padding-left: 20px;
  padding-bottom: 20px;
}
.info img {
  border-radius: 100px;
}
.menubar {
  background-color: #0594bd;
  color: #fff;
  border-bottom: 1px solid #fff;
  position: fixed;
  width: 100%;
  height: 48px;
  overflow-x: auto;
  overflow-y: hidden;
  top: 0;
}
.menubar ul {
  max-width: 860px;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  zoom: 1;
}
.menubar ul .third {
  padding: 0 30px;
}
.menubar ul .third h2 {
  text-align: center;
}
.menubar ul .third ul {
  padding-left: 20px;
}
.menubar ul .single {
  clear: both;
  padding: 0 30px;
  margin: 0 auto;
}
.menubar ul .single img {
  max-width: 100%;
}
.menubar li {
  list-style-type: none;
}
.menubar li a {
  float: left;
  padding: 10px 10px;
  line-height: 20pt;
  font-size: 12pt;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.menubar li a:hover {
  background-color: #239dc0;
}
.menubar li img {
  height: 12pt;
}
.link {
  margin: 10px 0;
}
.link.left {
  float: left;
}
.link.right {
  float: right;
}
footer {
  height: 56px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #ffb300;
  text-align: center;
  color: #fff;
}
.page-header {
  background-color: #0594bd;
  color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
.hero {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  padding: 10% 0;
  font-size: 20pt;
}
.hero p {
  line-height: 1.2em;
}
.hero img {
  width: 100%;
}
.hero .button {
  display: inline-block;
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 10pt;
  margin-top: 20px;
  background-color: #0594bd;
}
.hero .button:hover {
  background-color: #239dc0;
}
pre {
  font-family: Ubuntu Mono, monospace;
}
.main {
  min-height: 100%;
  margin-top: -47px;
  padding-top: 47px;
  margin-bottom: -56px;
  padding-bottom: 56px;
}
/* theme based on set of InkJoy colored pens and a little notbook */
/* modified to use luvit theme colors */
/* Created by Tim Caswell <tim@creationix.com> */
.cm-s-luvit {
  background-color: #fafafa;
  border: 1px solid #036c8a;
  border-radius: 2px;
  padding: 10px;
  color: #403238;
  /* black */
  white-space: pre-wrap;
}
.cm-s-luvit .CodeMirror-gutters {
  background: #fff;
  border-right: none;
}
.cm-s-luvit .CodeMirror-linenumber {
  color: #312f2b;
  opacity: 0.8;
}
div.cm-s-luvit span.CodeMirror-matchingbracket {
  color: #c80b12;
  font-weight: bold;
}
.cm-s-luvit .CodeMirror-ruler {
  border-color: #FF898D;
}
.cm-s-luvit div.CodeMirror-cursor {
  border-color: #c80b12;
  border-width: 2px;
}
.cm-s-luvit .CodeMirror-activeline-background,
.cm-s-luvit .CodeMirror-selected {
  background: #f7f5e1;
}
.cm-s-luvit.CodeMirror-focused .CodeMirror-selected {
  background: #f0ebc5;
}
/* gray - meta */
.cm-s-luvit .cm-meta {
  color: #aaa;
}
/* dark-blue - symbols */
.cm-s-luvit .cm-property {
  color: #02546c;
}
/* light-blue - library variables */
.cm-s-luvit .cm-qualifier,
.cm-s-luvit .cm-variable {
  color: #48acc8;
}
/* dark-green - user variables */
.cm-s-luvit .cm-def,
.cm-s-luvit .cm-variable-2,
.cm-s-luvit .cm-variable-3 {
  color: #239dc0;
}
/* light-green */
.cm-s-luvit .cm-builtin {
  color: #ff4528;
}
.cm-s-luvit .cm-tag {
  color: #dd1e00;
}
.cm-s-luvit .cm-keyword {
  color: #ad7900;
}
/* red */
.cm-s-luvit .cm-operator {
  color: #ff2300;
}
/* orange */
.cm-s-luvit .cm-string {
  color: #0594bd;
}
.cm-s-luvit .cm-string-2 {
  color: #036c8a;
}
/* pink */
.cm-s-luvit .cm-number {
  color: #ff4528;
}
/* purple */
.cm-s-luvit .cm-atom {
  color: #dd9b00;
}
/* brown */
.cm-s-luvit .cm-comment {
  color: #777;
}
