<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title><?=title?></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='//fonts.googleapis.com/css?family=Ubuntu:400,700|Ubuntu+Mono' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/cm/lib/codemirror.css">

  <link rel="icon" type="image/png" href="favicon.png">

  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav class="menubar">
    <ul>
      <li><a href="/"><img src="/tiny-white.svg" alt="Luvit <3"></a></li>
      <li><a href="/docs.html">Docs</a></li>
      <li><a href="/install.html">Install</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </nav>
  <a href="https://github.com/luvit/luvit" id="github-ribbon">Fork me on GitHub</a>
  <div class="main">
    <?=body?>
  </div>
  <footer>
    <div class="row">
      <p>Copyright 2015 The Luvit Authors</p>
    </div>
  </footer>
</body>
<script src="/cm/addon/runmode/runmode-standalone.js"></script>
<script src="/cm/mode/lua/lua.js"></script>
<script src="/cm/mode/shell/shell.js"></script>
<script src="main.js"></script>
</html>
